body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    position: relative;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: white;
}

header::before {
    content: "";
    background: url('https://majewskam.github.io/Data-Visualization-Pesto-Moc/docs/assets/img/pesto.jpg') no-repeat center center/cover;
    opacity: 0.85;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.header-content {
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

header h1 {
    font-size: 3em;
    font-weight: 700;
    margin: 0px;
}

header p {
    font-size: 1.5em;
    margin: 7px 0 80px;
}


.btn-header {
    background-color: rgba(93, 190, 28, 0.9);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.btn-header:hover {
    background-color: rgba(65, 136, 18, 0.9);
}

nav {
    background-color: rgb(113, 163, 116);
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.nav-button {
    color: #333;
    margin: 0 15px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-button:hover {
    color: #4CAF50;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 40px;
    width: 80%;
    max-width: 800px;
}

h2 {
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: rgba(93, 190, 28, 0.9);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: rgba(65, 136, 18, 0.9);
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    margin-top: 20px;
}

html {
    scroll-behavior: smooth;
}


/* Basic styling for the bar chart */
#chart_2022 .bar {
    fill: #003f5c;
    transition: fill 0.3s;
}

#chart_2022 .bar.un_hoover {
    fill: gray;
}

#chart_2022 .bar.hoover {
    fill: #ef5675;
}

/* Styles Specific to Decade Chart Page */
#decade-chart .bar {
    fill: #003f5c;
    transition: fill 0.3s;
}

#decade-chart .bar.un_hoover {
    fill: lightgray;
}

#decade-chart .bar.hoover {
    fill: #ef5675;
}
.axis-label {
    font-size: 12px;
}
.title {
    font-size: 16px;
    text-anchor: middle;
}
/* Tooltip styling */
.tooltip {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    pointer-events: none;
    font-size: 12px;
    visibility: hidden;
}