/*main css*/
body {
    font-family: 'Circular', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    box-sizing: border-box;
    position:static;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

header {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: left; /* Aligns content to the left horizontally */
    align-items: center; /* Aligns content to the center vertically */
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px;
    box-sizing: border-box;
}

header::before {
    content: "";
    background: url('https://github.com/MajewskaM/Data-Visualization-Pesto-Moc/blob/page-design/docs/assets/img/home_bcg.jpeg?raw=true') no-repeat center center/cover;
    opacity: 0.85;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.header-content {
    z-index: 1;
    text-align: left;
    width: 100%;
}

header h1 {
    font-family: 'Circular', sans-serif;
    font-size: 400%;
    font-weight: 700;
    margin: 0;
    color: #fff;
}

header p {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    margin: 10px 0;
    color: #fff;
    max-width: 60ch;
    text-align: justify;
    font-weight: 300;
}

.btn-wrapper {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.btn-header {
    background-color: rgba(255, 255, 255);
    color: rgba(93, 190, 28, 0.9);
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.btn-header:hover {
    background-color: rgba(65, 136, 18, 0.9);
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-left: 220px; /* Matches sidebar width for proper alignment */
}

section {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 40px;
    width: 80%;
    max-width: 800px;
}

h2 {
    font-family: 'Circular', sans-serif;
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    margin-top: 20px;
    position: relative;
    padding: 20px;
}

footer p {
    margin: 0;
}

.footer-img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: auto;
}

.page-line {
    background-color: rgba(113, 163, 116, 0.447);
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.active {
    color: #51c49a;
    background-color: #444;
    cursor: pointer;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(39, 48, 40);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 900;
    padding: 0 20px;
}

.topbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.topbar a:hover {
    color: #51c49a;
    background-color: #444;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0px;
}

.dropbtn {
    background-color: rgb(39, 48, 40);
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}

.menu-icon {
    margin-top: 10%;
    width: 25px;
    height: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(39, 48, 40);
    min-width: 160px;
    z-index: 1;
    font-family: 'Lato', sans-serif;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #444;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #444;
}

.topbar-links {
    display: flex;
    margin-left: auto; 
    margin-right: 1%;
    font-family: 'Lato', sans-serif;
}

.topbar-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 14px 16px;
}

.topbar-links a:hover {
    background-color: #444;
}

#separator_img{
    width: 20%;
    height: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

/*index --------------------------------------------------------------------------------------------------------------*/
.tasks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    padding-top: 30px;
}

.tasks-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 30%; 
    margin: 0 20px; 
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.tasks-section p {
    font-size: large;
}

.tasks-section:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(11, 222, 25, 0.2);
}

.zoom-section {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#page1_click, #page2_click, #page3_click {
    box-shadow: none;
}

#page1_click h2, #page2_click h2,#page3_click h2 {
    font-size: 1.1em;
}

.move-right {
    position: absolute;
    bottom: 5%;
    right: 10%;
    font-style: italic;
    font-size: 1em;
}

.tasks-section:hover .move-right {
    color: #4CAF50;
}

#quote{
    font-size: 1.5em;
    font-family: Dancing Script, cursive;
    border-bottom: none

}

/*top section of pages*/
.problem_description {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 10%;
    margin-top: -2%;
}

.problem_description h1 {
    font-size: 3.5rem;
    color: #2e7d32;
    font-family: 'Circular', sans-serif;
    margin-bottom: 10px;
    text-align: left !important;
    width: 100%;
    margin-left: 5%;
}

.problem_description p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #4e4e4e;
    font-family: 'Fira Sans', sans-serif;
    text-align: left !important;
    width: 100%;
    margin-left: 5%;
}

.data_preparation {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 5%;
    margin-top: -2%;
}

.data_preparation h1 {
    font-size: 3rem;
    color: #2e7d32; /* Dark green to emphasize the environmental topic */
    font-family: 'Circular', sans-serif;
    margin-bottom: 10px;
}

.data_preparation p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #4e4e4e; /* A soft gray for less strain on the eyes */
    font-family: 'Fira Sans', sans-serif;
    text-align: justify;
}

.data_preparation .small_text_data_prep{
    font-size: 0.8rem;
}

#background-image-div {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

#background-image-div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/emission.jpg') no-repeat center center/cover;
    filter: blur(5px);
    mask-image: linear-gradient(to bottom, black, transparent);
    -webkit-mask-image: linear-gradient(to bottom, black, transparent);
    z-index: 1;
}

#background-image-div h1,
#background-image-div p {
    position: relative;
    z-index: 2;
    color: #333;
    text-align: center;
}

/*data preparation section*/
#preparation{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    width: 90%;
    background-color: rgba(255, 255, 255);
    border-radius: 50px 50px 0 0 !important;
}

#preparation a{
    color: inherit;
    border-bottom: #333;
}


#preparation a:visited {
    color: inherit;
}

#preparation h2{
    font-size: 2rem;
    color: #333;
    border-bottom: none;
}

/*assignment1 page-------------------------------------------------------------------------------------------------------*/

/*charts styling*/
#chart_2022, #decade-chart, #perc {
    height: 400px;
    width: 600px; /* Set a width to align with content */
}

#perc {
    flex: 1;
    width: 48%;
    height: auto;
}

#chart_2022 .bar {
    fill: rgba(38, 79, 11, 0.9);
    transition: fill 0.3s;
}

#chart_2022 .bar.un_hoover {
    fill: lightgray;
}

#chart_2022 .bar.hoover {
    fill: rgba(38, 79, 11, 0.9);
}

#decade-chart .bar {
    fill: rgba(38, 79, 11, 0.9);
    transition: fill 0.3s;
}

#decade-chart .bar.un_hoover {
    fill: lightgray;
}

#decade-chart .bar.hoover {
    fill: rgba(38, 79, 11, 0.9);
}

.axis-label {
    font-size: 12px;
}

.tooltip {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    pointer-events: none;
    font-size: 12px;
    visibility: hidden;
    z-index: 4;
}
  
.tooltip2 {
    position: absolute;
    padding: 8px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 4px;
    pointer-events: none;
    font-size: 12px;
    opacity: 0;
    z-index: 4;
}

.tooltip3{
    position: absolute;
    text-align: center;
    height: auto;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 4;
}

.tooltip6 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 4;
}

#assignment1_site{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    margin-top: 5%;
}

#assignment1_site .chart-section-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 5%;
    z-index: 0;
}

.chart-section-container section{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr;
    border-radius: none;
    box-shadow: none;
    background-color: #f5f5f5;
    gap: 10px;
    padding: 20px;
    width: 100%;
    max-width: 650px;
    margin-left: 100px;
    align-items: center;
}

.chart-section-container h2, .center-section h2, .chart-section-container_2 h2{
    font-size: 1.5rem;
    color: #333;
    font-family: 'Circular', sans-serif;
    margin-bottom: 10px;
    border-bottom: none;
}

.chart-section-container-wide{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 0;
}

.explanation, .description {
    border: 1px solid rgb(134, 134, 134);
    /*border-radius: 15px;*/
    border-width: 0 0 0 2px; /*border only on the left side !!!! */
    padding: 10px;
    padding-left: 20px;
    width: 80%;
}

.explanation h2, .description h2{
    border-bottom: none;
    margin-top: 0px;
}

.explanation {
    grid-column: 2;
    grid-row: 2;
    text-align: justify;
}

.description {
    grid-column: 2;
    grid-row: 3;
}

.title {
    grid-column: 1 / 3;
    /*text-align: center;*/
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.center-section {
    gap: 10px;
    padding: 20px;
    border-radius: none;
    box-shadow: none;
    background-color: rgb(255, 255, 255);
    width:100%;
    margin:0;
}

#section_with_selector section{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr;
    gap: 10px; /* Reduced gap */
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    margin-left: 100px;
}

#section_with_selector .explanation {
    grid-column: 1;
    grid-row: 3;
    text-align: justify;
}

#section_with_selector .description {
    grid-column: 1;
    grid-row: 4;
    justify-self: justify;
}

#section_with_selector .title {
    grid-column: 1 / 3;
    text-align: left;
}

.timeChoice {
    grid-row: 2;
    grid-column: 1 / 3;
    gap: 10px;
    font-size: 16px;
    display: flex;
    height: 50px;
    align-items: center;
}

.timeChoice label {
    font-weight: bold;
    color: #333;
    font-size: 16px;
}

.timeChoice select {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    transition: all 0.3s ease;
}

.timeChoice select:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.timeChoice select:focus {
    outline: none;
    border: 1px solid darkblue;
}

.additional_window {
    display: none;
    position: fixed;
    z-index: 5;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.window-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 8px;
}

.window-content h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
    
.window-content p {
  font-size: 16px;
  color: #333;
}

.openExplWindow{
    background-color: #c0c0c0;
    border: 1px solid #888;
    border-radius: 8px;
    width: 130px;
    height: 40px;
    font-weight:600;
}

.openExplWindow:hover{
    background-color: rgba(93, 190, 28, 0.9);
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.filters label {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 7px;  
}

.filters input[type="checkbox"] {
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 2px;
    border: 2px solid #444;
    background-color: #f5f5f5;
    transition: background-color 0.2s, border-color 0.2s;
    cursor: pointer;
    position: relative;
}

/* Add checkmark when checked */
.filters input[type="checkbox"]:checked::after {
    content: "✓"; /* Unicode character for checkmark */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Set checkmark color */
    font-size: 12px; /* Adjust size of the checkmark */
    font-weight: bold;
}

.filters input[type="checkbox"]:checked {
    background-color: #1e1e1e;
    border-color: #555555;
}

#wide{
    margin-bottom: 15px;
}

.chart-section-container-wide .timeChoice{
    margin-top: 30px;
    margin-bottom: 30px;
    z-index: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}
  
.top-country-button {
  background-color: #737373;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
  
.top-country-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}
  
.top-country-button.active {
  background-color: #007BFF;
  transform: scale(1.05);
}

.year-select2_5, .year-select3{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
}

.heatmap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 5%;
}

.dropdown-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-right: 40px;
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#separator{
    font-size: 3.5rem;
    text-align: center;  /* Center the text horizontally */
    width: 100%; 
    font-family: 'Circular', sans-serif;
    font-weight: bolder;
    letter-spacing: 5px; 
    margin-bottom: -1%;
    margin-top: 5%;
}

#intro{
    font-size: 1.5rem;
    text-align: center;  /* Center the text horizontally */
    width: 100%; 
    font-family: 'Circular', sans-serif;
    margin-bottom: 2%;
    margin-top: 1%;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    width: 100%;
    background-color: rgba(42, 42, 42, 0.1);
    border-radius: 50px ;
    margin-bottom: 5%;
}


.chart-section-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    width: 100%;
}

.chart-section-container_2 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px;
    max-width: 48%; 
    margin-bottom: 5%;
}

.center-section_2 {
    gap: 10px;
    border-radius: none;
    box-shadow: none;
    background-color: rgb(255, 255, 255);
}


#title_section{
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    font-weight: bolder;
    margin-top: 5%;
    border-bottom: none;
    color: black;
}

/*team_intro -----------------------------------------------------------------------------------------------*/
#description{
    font-size: 1.2em;
    font-family: 'Circular', sans-serif;
    border-bottom: none;
    padding-top: 10%;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    width: 100%;
}

#our_team{
    margin-top: -4%;
    margin-bottom: 5%;
}

.intro h2{
    font-size: 1.2em;
    font-family: 'Fira Sans', sans-serif;
    border-bottom:none;
    color: rgb(70, 70, 70);
    text-align: center;
    font-weight:500;
}

.intro p{
    font-size: 0.9em;
    font-family: 'Fira Sans', sans-serif;
    border-bottom:none;
    color: rgb(95, 95, 95);
    font-weight:lighter;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.intro img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: -10%;
    gap: 20px;
    width: auto; /* Set to auto or 100% */
}

.icons img{
    width: 40px;
    height: 40px;
}

/*bcg in team_intro and project_desc*/
#page_bcg{
    background-color: rgb(190, 230, 187);
    background-image: url('https://github.com/MajewskaM/Data-Visualization-Pesto-Moc/blob/page-design/docs/assets/img/background.jpg?raw=true'); /* Example for image background */
    background-size: cover;
    background-repeat: no-repeat;
}

/*assignment2 page-------------------------------------------------------------------------------------------------------*/
.tooltip_alluvial {
    position: absolute;
    padding: 8px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 4px;
    pointer-events: none;
    font-size: 12px;
    opacity: 0;
    z-index: 4;
}
  
.chart-alluvial{
  justify-content: center; 
  align-items: center; 
  padding: 20px; 
  box-sizing: border-box;
  margin-bottom: -10%;
}

.chart-alluvial h1{
  text-align: center;
  font-size:larger;
}

#alluvial-plot {
  width: 100%;
  height: 100%;
  display: block;
}

/*assignment3 maps*/

.tooltip_map {
    position: absolute;
    padding: 8px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 4px;
    pointer-events: none;
    font-size: 12px;
    opacity: 0;
    z-index: 4;
}

.tooltip_temp {
    position: absolute;
    background-color: #fff;
    color: #333;
    padding: 10px 15px;
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
    z-index: 10;
    width: auto;
    max-width: 220px;
}

.tooltip-header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.tooltip-body {
    font-size: 14px;
}

.tooltip-value {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

    
.tooltip_map-3 {
    position: absolute;
    padding: 8px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 4px;
    pointer-events: none;
    font-size: 12px;
    opacity: 0;
    z-index: 4;
}

svg {
    position: relative;
    z-index: 0;
}

/*images with additional infrmations for user----------------------------------------------------------------------*/
/*circles on assignment1 page, facts container/ img gallery on assignment2 page*/
.circle-container {
    display: flex;
    justify-content: center; 
    gap: 10%;
    margin: 20px 0;
    width: 100%;
    margin-bottom: 5%;
}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; 
    border: 2px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.circle:hover img {
    filter: brightness(50%);
}

.circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.circle-text.default {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    opacity: 1;
}

.circle:hover .circle-text.default {
    opacity: 0;
}

.circle:hover .circle-text.info {
    opacity: 1;
}

.facts_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
}

.text {
    flex-shrink: 0;
    font-size: 3rem;
    font-weight: bold;
    width: 200px;
    text-align: right;
}

.image-gallery {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-gallery div {
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.image-gallery div:nth-child(1) {
    top: -20px;
}

.image-gallery div:nth-child(2) {
    top: 20px;
}

.image-gallery div:nth-child(3) {
    top: -20px;
}

.image-gallery div:nth-child(4) {
    top: 20px;
}

.gall_img {
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.gall_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.default-text,
.hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.default-text {
    opacity: 1; 
    font-size: 1.2rem;
}

.gall_img:hover .hover-text {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.gall_img:hover .default-text {
    opacity: 0; 
}

.gall_img:hover img {
    filter: brightness(50%);
}

.chart-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.dropdown-container {
    margin-bottom: 10px; 
    
    font-weight: bold; /* Make the text bold */
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
}
.line-plot {
    width: 100%;
    height: 500px;
}

/* Assignment 3 */

.projections_expl_section {
    text-align: center;
    margin: 0 auto;
    margin-top: -5%;
}

.projections_expl_section p {
    margin-bottom: 10px;
}

.three-images-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin: 10px auto;
    max-width: 80%;
    background-color: #f5f5f5;
    box-shadow: none;
}

.image-container {
    flex: 1;
    max-width: 250px;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

#orthographic_proj{
    max-width: 90%;
}

.image-container p {
    font-size: 1rem;
    color: #333;
}

.svg-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Adjust gap as needed */
    margin-bottom: 20px; /* Optional: Add space at the bottom of the container */
}

.svg-container svg {
    width: 48%; /* Adjust the width to make sure both SVGs fit within the container */
    height: auto;
}

